*.o
*~
.*.cmd
*.swp
*.bak
/driver-pt1/pt1_drv.ko
/driver-pt1/.tmp_versions/
/driver-pt1/.tmp_versions/*
/driver-pt1/Module.symvers
/driver-pt1/modules.order
/driver-pt1/pt1_drv.mod.c
/driver-pt1/pt1_drv.mod
/driver-pt1/version.h
/recpt1/autom4te.cache
/recpt1/config.h.in
/recpt1/configure
/recpt1/Makefile
/recpt1/config.h
/recpt1/config.log
/recpt1/config.status
/recpt1/pt1_dev.h
/recpt1/.deps
/recpt1/checksignal
/recpt1/recpt1
/recpt1/recpt1ctl
/recpt1/version.h
