*.o
*~
.*.cmd
/driver/pt1_drv.ko
/driver/.tmp_versions/
/driver/.tmp_versions/*
/driver/Module.symvers
/driver/modules.order
/driver/pt1_drv.mod.c
/driver/version.h
/recpt1/autom4te.cache
/recpt1/config.h.in
/recpt1/configure
/recpt1/Makefile
/recpt1/config.h
/recpt1/config.log
/recpt1/config.status
/recpt1/.deps
/recpt1/checksignal
/recpt1/recpt1
/recpt1/recpt1ctl
/recpt1/version.h
